@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  background-color: #2c3e50;
  color: #2c3e50;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

#login-form, #current-visitors {
  background-color: #ecf0f1;
  width: 500px;
  border: 10px solid #bdc3c7;
  margin: 20px auto;
  border-radius: 40px;
}

#login-form h1, #current-visitors h1 {
  text-align: center;
}

#current-visitors table {
  width: 100%;
  border: none;
  margin: 20px 0;
}

#current-visitors th, #current-visitors td {
  border: none;
}

#login-form p {
  margin: 0 40px;
}

#login-form input[type="text"], #login-form select{
  height: 40px;
  border-radius: 10px;
  border: solid 1px #bdc3c7;
  padding: 10px;
  background-color: white;

}

#login-form input[type="text"] {
  width: 400px;
  font-size: 1.5em;
}

#login-form select {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#login-form input[type="submit"] {
  width: 100px;
  height: 40px;
  border: 1px solid #2c3e50;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

nav {
  margin: 0;
}
